<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/dream_track"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.dr.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dr.JobDetailsActivity"
            android:label="@string/title_activity_job_details" >
        </activity>
        <activity
            android:name="com.dr.JobApplicationsListActivity"
            android:label="@string/title_activity_job_applications_list" >
        </activity>
        <activity
            android:name="com.dr.InterviewDetailsActivity"
            android:label="@string/title_activity_interview_details" >
        </activity>
        <activity
            android:name="com.dr.EditCreateInterviewActivity"
            android:label="@string/title_activity_edit_create_interview"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.dr.EditCreateJobActivity"
            android:label="@string/title_activity_edit_create_job"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.dr.InterviewsListActivity"
            android:label="@string/title_activity_interviews_list" >
        </activity>
        <activity
            android:name="com.dr.EditCreateReminderActivity"
            android:label="@string/title_activity_edit_create_reminder"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service android:name="com.dr.NotificationService" />

        <activity
            android:name="com.dr.RemindersListActivity"
            android:label="@string/title_activity_reminders_list" >
        </activity>
        <activity
            android:name="com.dr.DocumentsListActivity"
            android:label="@string/title_activity_documents_list" >
        </activity>
        <activity
            android:name="com.dr.EditCreateDocumentActivity"
            android:label="@string/title_activity_edit_create_document" >
        </activity>
        <activity
            android:name="com.dr.DocumentDetailsActivity"
            android:label="@string/title_activity_document_details" >
        </activity>
    </application>

</manifest>
